<div class="">
  <div class="d-flex justify-content-between align-items-center p-3 bg-pc-grey">
    <div class="d-flex">
      <button class="btn btn-active px-4">
        <i class="fas fa-list mr-1"></i>
        Saved List
      </button>
      <button class="btn">
        <i class="fas fa-filter mr-1"></i>
        Saved Filters
      </button>
      <button class="btn">
        <i class="fas fa-history mr-1"></i>
        Search History
      </button>
    </div>

    <div class="flex-grow-1">
      <input
        [formControl]="searchController"
        class="form-control w-75 ml-auto"
        type="search"
        placeholder="Search"
      />
    </div>
  </div>

  <div class="row mr-0 px-3">
    <div class="col-9 grid">
      <div class="row grid-header">
        <div class="col-2">Date</div>
        <div class="col-4">List Name</div>
        <div class="col-2">No. Of Entities</div>
        <div class="col-2">Actions</div>
        <div class="col-2"></div>
      </div>

      <div
        class="row grid-item"
        *ngFor="let item of filterdList || []"
        [ngClass]="{ 'grid-item-selected': item === selectedItem }"
        (click)="onSelectItem(item)"
      >
        <div class="col-2">
          <span *ngIf="item.date; else noDate">{{
            item.date | date: "MMM d"
          }}</span>
          <ng-template #noDate>
            <i class="fas fa-sync-alt"></i>
          </ng-template>
        </div>
        <div
          class="col-4 font-weight-bold"
          [ngClass]="{ 'text-sea-blue': !item.date }"
        >
          {{ item.name }}
        </div>
        <div class="col-2">
          {{ item.entries || 0 }}
        </div>
        <div class="col-2 actions-icons">
          <i class="far fa-envelope"></i>
          <ng-container *ngIf="item.date">
            <i class="fas fa-share-alt"></i>
            <i class="fas fa-pen"></i>
            <i class="fas fa-trash-alt"></i>
          </ng-container>
        </div>
        <div class="col-2">
          <button class="btn font-weight-600 text-pc-blue btn-detials">
            Details
          </button>
        </div>
      </div>
    </div>

    <div class="col-3 pl-3 pr-0" *ngIf="selectedItem">
      <div
        class="bg-pc-grey p-3 my-3"
        *ngIf="!selectedItem.description; else description"
      >
        No Description Yet
        <a class="text-pc-blue font-weight-bold">+ Add Description</a>
      </div>

      <ng-template #description>
        <div class="bg-pc-grey p-3 my-3">
          {{ selectedItem.description }}
        </div>
      </ng-template>

      <div>
        <div
          class="text-pc-blue font-weight-600 py-1"
          *ngFor="let item of selectedItem.attched || []"
        >
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>
